docker/sap-mock/testailu_actuals.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SI_ZPS_WS_GET_ACTUALS" targetNamespace="http://tampere.fi/ID369_Actuals_to_Hanna" xmlns:p1="http://tampere.fi/ID369_Actuals_to_Hanna" xmlns:rfc="urn:sap-com:document:sap:rfc:functions" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="SI_ZPS_WS_GET_ACTUALSService_InlineSchema1.xsd"/>
        <binding hasEncoding="false" imported="true" name="SI_ZPS_WS_GET_ACTUALSBinding" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true"/>
  <wsp:Policy wsu:Id="OP_SI_ZPS_WS_GET_ACTUALS"/>
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns="urn:sap-com:document:sap:rfc:functions">
      <xsd:element ibmSchExtn:docRoot="true" name="ZPS_WS_GET_ACTUALS.Response">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="ACTUALS">
          <xsd:annotation>
            <xsd:documentation>Actuals</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="ZPS_WS_ACTUALS_S"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="MESSAGES">
          <xsd:annotation>
            <xsd:documentation>Return table</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="BAPIRET2"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ZPS_WS_GET_ACTUALS">
    <xsd:complexType>
      <xsd:all>
        <xsd:element minOccurs="0" name="I_AUFNR">
          <xsd:annotation>
            <xsd:documentation>Order Number</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="12"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="I_BUDAT_BEGDA" type="date">
          <xsd:annotation>
            <xsd:documentation>Posting Date</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="I_BUDAT_ENDDA" type="date">
          <xsd:annotation>
            <xsd:documentation>Posting Date</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="I_POSID">
          <xsd:annotation>
            <xsd:documentation>Work Breakdown Structure Element (WBS Element)</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="24"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="I_PSPID">
          <xsd:annotation>
            <xsd:documentation>Project definition</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="24"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="date">
    <xsd:union memberTypes="xsd:date genericDate"/>
  </xsd:simpleType>
  <xsd:simpleType name="genericDate">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="....-..-.."/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="BAPIRET2">
    <xsd:annotation>
      <xsd:documentation>Return Parameter</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TYPE">
        <xsd:annotation>
          <xsd:documentation>Message type: S Success, E Error, W Warning, I Info, A Abort</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="ID">
        <xsd:annotation>
          <xsd:documentation>Message Class</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="NUMBER">
        <xsd:annotation>
          <xsd:documentation>Message Number</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
            <xsd:pattern value="\d+"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MESSAGE">
        <xsd:annotation>
          <xsd:documentation>Message Text</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="220"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="LOG_NO">
        <xsd:annotation>
          <xsd:documentation>Application Log: Log Number</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="LOG_MSG_NO">
        <xsd:annotation>
          <xsd:documentation>Application Log: Internal Message Serial Number</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
            <xsd:pattern value="\d+"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MESSAGE_V1">
        <xsd:annotation>
          <xsd:documentation>Message Variable</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MESSAGE_V2">
        <xsd:annotation>
          <xsd:documentation>Message Variable</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MESSAGE_V3">
        <xsd:annotation>
          <xsd:documentation>Message Variable</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MESSAGE_V4">
        <xsd:annotation>
          <xsd:documentation>Message Variable</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="PARAMETER">
        <xsd:annotation>
          <xsd:documentation>Parameter Name</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="32"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="ROW" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Lines in parameter</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="FIELD">
        <xsd:annotation>
          <xsd:documentation>Field in parameter</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="SYSTEM">
        <xsd:annotation>
          <xsd:documentation>Logical system from which message originates</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZPS_WS_ACTUALS_S">
    <xsd:annotation>
      <xsd:documentation>Actuals</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="BELNR">
        <xsd:annotation>
          <xsd:documentation>Document Number</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="GJAHR">
        <xsd:annotation>
          <xsd:documentation>Fiscal Year</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
            <xsd:pattern value="\d+"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="BLDAT" type="date">
        <xsd:annotation>
          <xsd:documentation>Document Date</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="BUDAT" type="date">
        <xsd:annotation>
          <xsd:documentation>Posting Date</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CPUDT" type="date">
        <xsd:annotation>
          <xsd:documentation>Date Document Was Created</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PSPID">
        <xsd:annotation>
          <xsd:documentation>Project definition</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="24"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="POSID">
        <xsd:annotation>
          <xsd:documentation>Work Breakdown Structure Element (WBS Element)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="24"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="AUFNR">
        <xsd:annotation>
          <xsd:documentation>Order Number</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="12"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="VORNR">
        <xsd:annotation>
          <xsd:documentation>Operation Number</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="OBJ_TXT">
        <xsd:annotation>
          <xsd:documentation>CO Object Name</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="OBART">
        <xsd:annotation>
          <xsd:documentation>Object type</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="KSTAR">
        <xsd:annotation>
          <xsd:documentation>Cost Element</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="CEL_LTXT">
        <xsd:annotation>
          <xsd:documentation>Cost Element Description</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="TWAER">
        <xsd:annotation>
          <xsd:documentation>Transaction Currency</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="WTGBTR">
        <xsd:annotation>
          <xsd:documentation>Total Value in Transaction Currency</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="15"/>
            <xsd:fractionDigits value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="BEKNZ">
        <xsd:annotation>
          <xsd:documentation>Debit/credit indicator</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="VBUND">
        <xsd:annotation>
          <xsd:documentation>Company ID of Trading Partner</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
          <xsd:element minOccurs="0" name="BLART">
                <xsd:annotation>
                        <xsd:documentation>Document type of FI reference document</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                  </xsd:restriction>
                </xsd:simpleType>
           </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="rfc.ZPS_WS_GET_ACTUALS.Input">
    <wsdl:documentation/>
    <wsdl:part element="rfc:ZPS_WS_GET_ACTUALS" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="rfc.ZPS_WS_GET_ACTUALS.Output">
    <wsdl:documentation/>
    <wsdl:part element="rfc:ZPS_WS_GET_ACTUALS.Response" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="SI_ZPS_WS_GET_ACTUALS">
    <wsdl:documentation/>
    <wsdl:operation name="SI_ZPS_WS_GET_ACTUALS">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_ZPS_WS_GET_ACTUALS"/>
      </wsp:Policy>
      <wsdl:input message="p1:rfc.ZPS_WS_GET_ACTUALS.Input"/>
      <wsdl:output message="p1:rfc.ZPS_WS_GET_ACTUALS.Output"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_ZPS_WS_GET_ACTUALSBinding" type="p1:SI_ZPS_WS_GET_ACTUALS">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SI_ZPS_WS_GET_ACTUALS">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_ZPS_WS_GET_ACTUALSService">
    <wsdl:port binding="p1:SI_ZPS_WS_GET_ACTUALSBinding" name="HTTP_Port">
      <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="https://10.222.21.10:9043/services/sapecc/projectactuals"/>
    </wsdl:port>
    <wsdl:port binding="p1:SI_ZPS_WS_GET_ACTUALSBinding" name="HTTPS_Port">
      <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="https://10.222.21.10:9043/services/sapecc/projectactuals"/>
    </wsdl:port>
  </wsdl:service>